{% extends "base.html" %}

{% block meta %}
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block title %}Inbox{% endblock %}

{% block content %}
<!-- Content -->

<h1 class="mb-3 text-center">Inbox</h1>
<br>
<p class="text-center">Contact Messages</p>
<br>
<section class="mb-3 container-fluid">

    {% if users_comments %}
    {% for comment in users_comments %}
    
    <h1 class="text-center"><b> Name: {{ comment.name }}</b></h1>
    <p class="text-dark">Email: {{comment.email}}</p>
    <p class="text-center"> {{comment.message}}</p>
    {% endfor %}
    
    {% else %}
    <p class="text-center">No contacts.</p>
    {% endif %}
</section>

</div>

{% endblock %}