{% extends "base.html" %}

{% block meta %}
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block title %}Inbox{% endblock %}

{% block content %}
<!-- Content -->

<h1 class="mb-3 text-center">Inbox</h1>
<br>
<p class="text-center">Contact Messages</p>
<br>
<section class="mb-3 container-fluid">
    {% if contacts %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in contacts %}
            <tr>
                <td>{{ comment.name }}</td>
                <td>{{ comment.email }}</td>
                <td>{{ comment.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center">No contacts available.</p>
    {% endif %}
</section>


</div>

{% endblock %}