{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Pound of less - less is more">
{% endblock %}
{% block title %}Pound of Less - Less == More{% endblock %}

{% block content %}

<!-- Content -->
    <!-- Main image -->
    <section class="container-fluid HOME-img-main">
        <p class="HOME-sub-title"><span>Where Less is More</span></p>
    </section>

    <!-- Cards: Themes -->
    <section class="container-fluid mt-4">
        <div class="row justify-content-center">
            {% for theme in themes %}
            <div class="col col-auto mb-3 HOME-theme-btn">
                <a class="ALL-no-hover" href="{{ url_for('website.all', index=theme.id) }}">
                    <div class="card h-100" style="width: 13rem; border:none;">
                        <img src="{{theme.picture_source}}" class="card-img-top HOME-round-img" alt="Theme" />
                        <div class="card-body" style="display:flex; justify-content: center;">
                            <h5 class="card-title ALL-no-hover">{{theme.theme}}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Cards: Theme -->
     {% for theme in all_posts.keys() %}
    <section class="container-fluid mt-4">
        <div class="row justify-content-center">
            {% for post in all_posts[theme] %}
            <div class="col col-auto mb-3 HOME-theme-btn">
                <a class="ALL-no-hover" href="{{ url_for('website.blog_post', index=post.id, _external=True) }}">
                    <div class="card h-100 HOME-card ALL-post-hover" style="width: 18rem;">
                        <img src="{{post.picture_source}}" class="card-img-top HOME-round-img" alt="{{ post.picture_alt }}" />
                        <div class="card-body">
                            <h5 class="card-title ALL-no-hover">{{ post.title }}</h5>
                        </div>
                        <div class="card-footer HOME-card-footer">
                            <small class="text-muted ALL-no-hover">by {{ post.author.name }}</small>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </section>

    

{% endblock %}