{% extends "base.html" %}

{% block meta %}
<meta name="description" content="less - Blog Post">
{% endblock %}
{% block title %}{{blog_posts.title}}{% endblock %}

{% block content %}
{% if blog_posts %}
    <!-- Content -->
    <section class="mb-3 container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <!-- <p class="ALL-h2 text-center" style="margin-bottom: -20px;">in {{blog_posts.theme_group.theme}}</p> -->
            </div>
            <div class="col-lg-8 col-md-10">
                <h1 class="text-center">{{blog_posts.title}}</h1>
            </div>
            <div class="col-lg-8 col-md-10">
                <p class="text-center">by {{blog_posts.author.name}} - {{blog_posts.date_to_post.strftime('%d %B %Y')}}</p>
            </div>
        </div>
    </section>

    <section class="mb-3 container-fluid">
        <div class="row justify-content-center">
            <div class="row no-gutters col-12 .col-md-10" style="max-width: 57rem;">
                <div class="col-12 text-justify">
                    <p>{{blog_posts.intro}}</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="mb-3 container-fluid">
        <div class="row justify-content-center">
            <div class="row no-gutters col-12 .col-md-10" ></div>
                <img class="col-12" src="{{blog_posts.picture_source}}" alt="{{blog_posts['picture_alt']}}" style="max-width: 57rem; ">
            </div>
        </div>
    </section>

    <section class="mb-3 container-fluid">
        <div class="row justify-content-center">
            <div class="row no-gutters col-12 .col-md-10" style="max-width: 57rem;">
                <div class="col-12 text-justify" >
                    {{blog_posts.body|safe}}
                </div>
            </div>
        </div>
    </section>

    <section class="mb-1 container-fluid">
        <div class="row justify-content-center">
            <div class="row no-gutters" style="width: 57rem;">
                <div class="col-12">
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <!-- Show Posts likes and option to bookmark -->
    

    <section class="mb-1 container-fluid">
        <div class="row justify-content-center">
            <div class="row no-gutters" style="width: 57rem;">
                <div class="col-12">
                    <hr>
                </div>
            </div>
        </div>
    </section>

<!-- About the author -->

    <section class="mb-3 container-fluid">
        <div class="row justify-content-center">
            <div class="row no-gutters" style="width: 57rem;">
                <div class="col-12">
                    <hr style="border-width: 3px;">
                </div>
            </div>
        </div>
    </section>

{% else %}
<p class="ALL-special-font ALL-h1 text-center">
    Content Goes Here
</p>
{% endif %}

{% endblock %}
