{% if current_user.type == "admin" or current_user.type == "super_admin"%}
    {% extends "account/dashboard_admin.html" %}
{% else %}
    {% extends "account/dashboard_author.html" %}
{% endif %}

{% block page %}

<h1 class="mb-3 text-center">Edit Post</h1>

<section class="mb-3 container-fluid">
    <div class="justify-content-center">
        <form action="" method="POST">
            {{form.hidden_tag()}}
            {{form.theme.label (class="form-label")}}
            {{form.theme (class="form-control")}}
            <br>
            {% if current_user.type == "super_admin" %}
            {{form.author.label (class="form-label")}}
            {{form.author (class="form-control")}}
            <br>
            {% endif %}
            {{form.date.label (class="form-label")}}
            {{form.date (class="form-control", type="date")}}
            <br>
            {{form.title.label (class="form-label")}}
            {{form.title (class="form-control")}}
            <br>
            {{form.intro.label (class="form-label")}}
            {{form.intro (class="form-control")}}
            <br>
            {{form.body.label (class="form-label")}}
            {{form.body (class="form-control", rows="10")}}
            <br>
            <div class="card mb-2" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img 
                            {% if not post_to_edit.picture_source %}
                            src="{{ url_for('static', filename='Pictures_Posts/Picture_not_available.png') }}"
                            {% else %} 
                            src="{{ post_to_edit.picture_source }}"
                            {% endif %}
                            class="card-img" alt="Img on file" style="height:50px; width: auto">
                    </div>
                </div>
            </div>
            {{form.picture_source.label (class="form-label")}}
            {{form.picture_source(class="form-control")}}
            <br>
            {{form.picture_alt.label (class="form-label")}}
            {{form.picture_alt (class="form-control")}}
            <br>
            {{form.meta_tag.label (class="form-label")}}
            {{form.meta_tag (class="form-control")}}
            <br>
            {{form.title_tag.label (class="form-label")}}
            {{form.title_tag (class="form-control")}}
            <br>
            {{form.submit(class="btn ALL-green-btn-dark mb-2")}}

        </form>
        {{ ckeditor.load(pkg_type="full") }}
        {{ ckeditor.config(name='body') }}
    </div>
</section>

</div>
</section>

{% endblock %}